# Environment variables and secrets
.env
.streamlit/secrets.toml  # If you don't want to push secrets to GitHub

# Virtual environment folders
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Compiled files and caches
__pycache__/
*.py[cod]
*$py.class

# GPX files and other local data
#API_GPX_FILES/
#strava_activities.csv  # Ignore local CSV file

# Package and build files
*.egg-info/
*.egg
*.manifest
*.spec
*.so
*.whl
*.pyc
*.pyo
dist/
build/
.eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
target/

# Logs and installer files
pip-log.txt
pip-delete-this-directory.txt

# IDE and editor-specific files
.idea/
.vscode/
.spyderproject
.spyproject

# Jupyter Notebooks
.ipynb_checkpoints

# Static analysis and type checking
.mypy_cache/
.pyre/
.pytype/

# Flask and Django-specific files
instance/
db.sqlite3
db.sqlite3-journal
*.log

# mkdocs documentation
/site

# Miscellaneous
htmlcov/
.tox/
.nox/
.cache
.coverage
.coverage.*
.coverage.*
hypothesis/
.pytest_cache/

.streamlit/secrets.toml